/* HUBSTAFF DASHBOARD */

.showselection select {
    display: inline-block;
    width: auto;
    border: none;
    background: none;
    padding: 0;
    color: #00ced1;
    font-size: 15px;
    height: auto;
}

.activity-box .number p {
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 57px;
    color: #000000;
}

.positive-per {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7ED321 !important;
}

.negative-per {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FF3E00 !important;
}

.average-per {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #F8D31C !important;
}

.createwidg {
    border: 1.2px dashed #CBD3D3;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 33px 0;
}

.gallery>ul {
    margin-bottom: 0;
}

.gallery>ul>li {
    margin-bottom: 30px;
}

.gallery>ul>li a {
    border-radius: 3px;
    display: block;
    overflow: hidden;
    position: relative;
}

.gallery>ul>li a>img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}

.gallery>ul>li a:hover>img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}

.gallery>ul>li a:hover .gallery-poster>img {
    opacity: 1;
}

.gallery>ul>li a .gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}

.gallery>ul>li a .gallery-poster>img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

.gallery>ul>li a:hover .gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery .justified-gallery>a>img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}

.gallery .justified-gallery>a:hover>img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}

.gallery .justified-gallery>a:hover .gallery-poster>img {
    opacity: 1;
}

.gallery .justified-gallery>a .gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}

.gallery .justified-gallery>a .gallery-poster>img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

.gallery .justified-gallery>a:hover .gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery .video .gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
}

.hover-box {
    background: rgba(2, 206, 209, 0.797805);
    border-radius: 3px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}

.hover-box .view-screen {
    mix-blend-mode: normal;
    opacity: 0.9;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #06CFD2;
    background: #FFFFFF;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.19653);
    border-radius: 2px;
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    text-transform: capitalize;
    position: relative;
    top: 35%;
    cursor: pointer;
}

.gallery>ul>li .on-hover:hover>.hover-box {
    display: block;
}

.positive-activity {
    background: #7ED321 !important;
    border-radius: 50px;
    color: #FFFFFF;
    width: 50px;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}

.average-activity {
    background: #F8D31C !important;
    border-radius: 50px;
    color: #FFFFFF;
    width: 50px;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}

.negative-activity {
    background: #FF3E00 !important;
    border-radius: 50px;
    color: #FFFFFF;
    width: 50px;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}

.activityper {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    background: #FFFFFF;
    border-radius: 50px;
    margin: 0 auto;
    padding: 4px;
    z-index: 1;
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    height: 28px;
    width: 58px;
}

.positive-progress {
    background: #7ED321 !important;
}

.negative-progress {
    background: #FF3E00 !important;
}

.average-progress {
    background: #F8D31C !important;
}

.progress {
    height: 8px !important;
    background: #EDEDED !important;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.0563293) !important;
    border-radius: 4px !important;
}

.project-initial,
.member-initial {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 100%;
    padding: 4px 12px;
    vertical-align: middle;
}

.project-time-activity .time {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #7F7F7F;
    margin-right: 10px;
}

.bg-lightblue {
    background: #21B0D3;
}

.bg-lightred {
    background: #FF0368;
}

.bg-darkgrey {
    background: #8B8B8B;
}

.bg-maincolor {
    background: #02CED1;
}

.timesheet .track {
    border: 1.2px dashed #CBD3D3;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 60px 0;
}


/* HUBSTAFF ACTIVITY */
#hubstaff .filters .form-group {
    width: 100%;
}
.filters .form-group {
    display: inline-block;
}

.filters label {
    display: inline-block;
    margin-bottom: .5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    color: #2B2B2B;
}

.filters .custom-select,
.filters input {
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px;
    background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #5F6466;
}

.filters input {
    background: url(../images/cal.svg) no-repeat right .75rem center/15px 20px;
    background-color: #FFFFFF !important;
}

.filters a,
.filters button{
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px;
    background: #fff;
    padding: .475rem 1.5rem;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #5F6466;
    text-transform: capitalize;
    display: inline-block;
    margin-top: 29px;
}

.timeline .time-intervals {
    text-align: right;
    margin-right: 25px;
    position: relative;
}

.timeline .time-intervals::before {
    position: absolute;
    content: '';
    width: 77%;
    border-bottom: 1px solid #E2E8EA;
    left: 25px;
    z-index: -1;
    top: 18px;
}

.timeline .activity-info {
    background: #FFFFFF;
    box-shadow: 0px 18px 26px rgba(82, 112, 112, 0.0288157);
    border-radius: 0 0 4px 4px;
}

.timeline .activity-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #8D8D8D;
    margin: 0;
}

.timeline .activity-info .timespan {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #5F6466;
}

.timeline .activity-info .progress {
    margin: 10px 0;
    height: 0.5rem;
}


/* ================ The Timeline ================ */

.timeline {
    position: relative;
    width: 100%;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    right: 0;
    top: 0;
    content: ' ';
    display: block;
    width: 3px;
    height: 100%;
    background: rgb(2, 206, 209);
    background: -moz-linear-gradient(top, rgba(2, 206, 209, 0) 0%, rgb(2, 206, 209) 0%, rgb(2, 206, 209) 70%, rgba(2, 206, 209, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(2, 206, 209, 0) 0%, rgb(2, 206, 209) 0%, rgb(2, 206, 209) 70%, rgba(2, 206, 209, 0) 100%);
    background: -o-linear-gradient(top, rgba(2, 206, 209, 0) 0%, rgb(2, 206, 209) 0%, rgb(2, 206, 209) 70%, rgba(2, 206, 209, 0) 100%);
    background: -ms-linear-gradient(top, rgba(2, 206, 209, 0) 0%, rgb(2, 206, 209) 0%, rgb(2, 206, 209) 70%, rgba(2, 206, 209, 0) 100%);
    background: linear-gradient(to bottom, rgba(2, 206, 209, 0) 0%, rgb(2, 206, 209) 0%, rgb(2, 206, 209) 70%, rgba(2, 206, 209, 0) 100%);
    z-index: 5;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 100%;
    text-align: right;
}

.flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.direction-l .flag:before {
    position: absolute;
    top: 11px;
    right: -8px;
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #06cfd2;
    border-radius: 10px;
    border: 4px solid #fff;
    z-index: 10;
    box-shadow: 0 0 0px #06cfd2 inset, 0 0 0 2px #06cfd2;
}


/* HUBSTAFF PROJECT */

.search-project input {
    background: #FFFFFF;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px;
    margin-right: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #C9CBCB;
    height: calc(1.5em + .75rem + 10px);
    padding-left: 33px;
}

.search-project input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #C9CBCB;
}

.search-project svg {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #C9CBCB;
    position: relative;
    left: 30px;
}

.table td,
.table th {
    border-top: 1px solid #E2E8EA;
}

.table th {
    border-top: none;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    color: #02CED1;
}

.table tbody {
    background: rgba(254, 254, 254, 0.594882);
}

.table .project-head p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #8E9797;
}

.status-active {
    font-style: normal;
    font-weight: 600;
    font-size: 9.6px;
    line-height: 13px;
    letter-spacing: 1.6px;
    color: #FFFFFF;
    background: #7ED321;
    border-radius: 1.6px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
}

.status-paused {
    font-style: normal;
    font-weight: 600;
    font-size: 9.6px;
    line-height: 13px;
    letter-spacing: 1.6px;
    color: #FFFFFF;
    background: #575757;
    border-radius: 1.6px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
}

.table .projectdropdown .dropdown-menu {
    background: #EBF4F4;
    box-shadow: 0px 14px 27px rgba(235, 244, 244, 0.636521);
    border-radius: 6px;
}

.table .projectdropdown .dropdown-item {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #276566;
    text-transform: capitalize;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    color: #276566;
    text-decoration: none;
    background-color: transparent;
}

.table .editme-button {
    background: #D9DDDE;
    border: none;
    border-radius: 100%;
    color: #fff;
    font-size: 9px;
    padding: 3px 5px;
    margin-left: 6px;
}

.table .project-name button,
.table .member-name button {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #EBEBEB;
    padding: 0;
    display: inline-block;
    margin-left: 5px;
}

.member-initlist .memberinit {
    border-radius: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.0625283);
    margin-bottom: 0;
    padding: 7px 12px;
    display: inline-block;
}

.member-initlist img {
    border-radius: 100%;
    height: 38px;
}

.member-initlist .memberinit,
.member-initlist img {
    margin-left: -15px;
}

.member-initlist .memberinit:first-child {
    margin-left: 0;
}

.edit-budget {
    background: #DFEEF1;
    border-radius: 1.76px;
    font-style: normal;
    font-weight: 600;
    font-size: 10.56px;
    line-height: 15px;
    color: #98ADAE;
    padding: 5px 10px;
    text-transform: capitalize;
}

.edit-transfer-archiev {
    background: #FFFFFF;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 2px;
    padding: 10px;
}

.edit-transfer-archiev a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #5F6466;
    text-transform: capitalize;
    padding: 10px 20px;
}

.edit-transfer-archiev a svg {
    margin-right: 8px;
}

.border-left-right {
    border-left: 1px solid #D6DFE1;
    border-right: 1px solid #D6DFE1;
}

.role-dropdown {
    background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 2px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #5F6466;
    width: 150px;
    height: 40px;
    text-align: left;
}

.role-dropdown:focus {
    border-color: #D6DFE1;
    outline: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
}

.modal-content {
    background: #FFFFFF;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.182745) !important;
    border-radius: 9px !important;
    border: none !important;
}

.modal-header {
    background: #02CED1;
    border-radius: 9px 9px 0px 0px;
    color: #fff;
    display: block;
}

.cancel-btn {
    background: #DFEEF1;
    font-style: normal;
    font-weight: normal;
    font-size: 14.4px;
    line-height: 20px;
    text-align: center;
    color: #95AAAB;
    border-radius: 3px;
    text-transform: capitalize;
    padding: 12px 20px;
}

.modal-body label {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-transform: capitalize;
}

.modal-body input,
.modal-body select,
.modal-body textarea {
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
}

.modal-body input::placeholder,
.modal-body select::placeholder,
.modal-body textarea::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
}

.modal-body .custom-select {
    background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px;
}

.modal-body .custom-select:focus {
    border-color: #D6DFE1;
    outline: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
}

.modal-body .heading-text {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    margin: 20px 0 5px 0;
}

.modal-footer {
    border-top: 1px solid #ECF2F4;
}

.info-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #A5AEB2;
}

.bootstrap-tagsinput {
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
    margin-bottom: 20px;
    padding: 10px 15px;
    text-align: left
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    max-width: inherit;
    padding-left: 10px;
}

.bootstrap-tagsinput input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #878787;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    background: #02CED1;
    border-radius: 16px;
    padding: 5px 12px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.63);
    color: #02ced1;
    border-radius: 100%;
    padding: 0px 5px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px;
}

.batch-actions .dropdown-toggle {
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px;
    /* background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px; */
    background-color: #FFFFFF !important;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #5F6466;
    text-transform: capitalize;
    height: 45px;
    width: 165px;
    text-align: left
}

.batch-actions .dropdown-toggle::after {
    position: absolute;
    display: block;
    background: url(../images/down-arrow.svg) no-repeat right .75rem center/8px 10px;
}

.batch-actions .dropdown-menu {
    background: #FFFFFF;
    box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.0997792);
    border-radius: 4px;
    width: auto;
}

.batch-actions .dropdown-menu a {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #687072;
}

.member-info img {
    border-radius: 100%;
    height: 40px;
}

.tooltipbtn {
    padding: 0;
    color: #d9ddde;
    font-size: 14px;
}

.tooltipbtn:hover {
    color: #d9ddde;
}

#radioBtn .notActive {
    background-color: #fff;
    background: #FFFFFF;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 3px 0px 0px 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #5F6466;
    text-transform: capitalize;
}

#radioBtn .btn-primary:not(:disabled):not(.disabled).active,
#radioBtn .btn-primary:not(:disabled):not(.disabled):active,
#radioBtn .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: transparent;
    background: #05CED1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
}

.onetime-payment {
    max-width: 600px;
    margin: 0 auto;
}

.onetime-payment label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    text-transform: capitalize;
}

.onetime-payment input,
.onetime-payment select,
.onetime-payment textarea {
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #8F8F8F;
}

.onetime-payment input::placeholder,
.onetime-payment select::placeholder,
.onetime-payment textarea::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #8F8F8F;
}

.table {
    width: 100% !important;
    max-width: 100% !important;
}
.dataTables_wrapper {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
table.dataTable {
    border-collapse: collapse !important;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #00c5cd !important;
    background-color: #00c5cd !important;
}
.dataTables_paginate {
    float: right;
}
.paginate_button .page-link {
    padding: 6px 11px;
    border-radius: 100% !important;
    margin: 0 10px;
    font-size: 12px;
}
.paginate_button.previous .page-link{
    background: url("../images/new-images/long-arrow-left.png");
}
.paginate_button.next .page-link{
    background: url("../images/new-images/long-right-arrow.png");
}
.paginate_button.previous .page-link, .paginate_button.next .page-link {
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    padding: 15px 15px;
    background-size: 12px;
    border-radius: 100% !important;
    margin: 0 10px;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 5px;
    font-size: 12px;
}
.label-success, .badge-success,.label-primary, .badge-primary{
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 7.6px !important;
    line-height: 10px !important;
    letter-spacing: 1.6px !important;
    color: #FFFFFF !important;
    background: #7ED321 !important;
    border-radius: 1.6px !important;
    text-align: center !important;
    text-transform: uppercase !important;
    padding: 5px 10px !important;
}
.label-danger, .badge-danger{
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 7.6px !important;
    line-height: 10px !important;
    letter-spacing: 1.6px !important;
    color: #FFFFFF !important;
    background: #575757 !important;
    border-radius: 1.6px !important;
    text-align: center !important;
    text-transform: uppercase !important;
    padding: 5px 10px !important;
}
.hubstaff-action {
    width: auto !important;
    min-width: 5rem !important;
    background: #EBF4F4 !important;
    box-shadow: 0px 14px 27px rgba(235, 244, 244, 0.636521) !important;
    border-radius: 6px !important;
    border: none !important;
}
.hubstaff-action a{
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #276566 !important;
    padding: .25rem 1rem !important;
}
.hubstaff-action a:focus,
.hubstaff-action a:hover {
    color: #276566;
    text-decoration: none;
    background-color: transparent;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #02ced1;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    float: right;
    mix-blend-mode: normal;
    opacity: 0.69;
    background: #FFFFFF;
    border-radius: 100%;
    padding: 4px;
    line-height: 10px;
    position: relative;
    left: 5px;
    top: 3px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: none;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 2px 10px;
    background: #02CED1;
    border-radius: 16px;
    color: #fff;
}
.dropdown-menu.hubstaff-action  {
    top: 0px !important;
    left: 0px !important;
    transform: translate3d(30px, 0px, 0px) !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    display: none;
}
.daterange-picker .svg-inline--fa.fa-caret-down{
    display: none;
}
.daterangepicker .ranges li.active {
    background-color: #02ced1 !important;
}
.daterangepicker {
    background: #FFFFFF;
    box-shadow: 0px 14px 27px rgba(0, 0, 0, 0.0997792);
    border-radius: 4px;
}
.daterangepicker .drp-buttons .cancelBtn  {
    float: left;
    margin-bottom: 8px;
    margin-left: 0 !important;
    margin-right: 8px;
    background: #FFFFFF;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    border-radius: .2rem;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}
.daterangepicker .drp-buttons .applyBtn {
    float: left;
    margin-bottom: 8px;
    margin-left: 0 !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #6DD400;
    border-color: #6DD400;
}
.daterangepicker .drp-selected {
    font-size: 13px !important;
    line-height: 25px;
    text-align: center;
    color: #6A6B6C;
    font-weight: 600;
    letter-spacing: 1px;
}
.daterangepicker td.in-range {
    background-color: rgba(2, 206, 209, 0.107763) !important;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #02ced1 !important;
    color: #fff !important;
}
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    color: #ffffff;
    background-color: #06cfd2;
    border-color: #06cfd2;
}
.datepicker-dropdown.datepicker-orient-bottom:before {
    top: -7px;
    border-bottom: 7px solid #ccc;
    border-top: 0;
    bottom: 100%;
}
.datepicker-dropdown.datepicker-orient-bottom:after {
    top: -6px;
    border-bottom: 6px solid #fff;
    border-top: 0;
    bottom: 100%;
}
.filterdate {
    display: flex;
}
.filterdate button,
.filterdate input,
.filterdate .form-group{
    height: calc(2.25rem + 2px);
    margin-right: 10px;
}
.activity_filterdate button{
    margin-top: 0;
}
.filter_align_end {
    display: flex;
    align-items: flex-end;
}
.filter_align_end a {
    margin-top: 0;
}