.showselection select {
    display: inline-block;
    width: auto;
    border: none;
    background: none;
    padding: 0;
    color: #00ced1;
    font-size: 15px;
    height: auto;
    box-shadow: none;
}

.export {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.545455px;
    color: #FFFFFF;
    background: #02CED1;
    border-radius: 2px;
    padding: 6px 12px;
}

.export:hover {
    color: #FFFFFF;
}

.creatcamp {
    border: 1.2px dashed #CBD3D3;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 65px 0;
}

.create-form {
    background: #FFFFFF;
    box-shadow: 0px 31px 35px rgba(0, 0, 0, 0.0406476);
    border-radius: 3px;
    width: 600px;
    max-width: 600px;
    margin: 0 auto;
    padding: 35px 45px;
}

label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.form-control {
    background: #FFFFFF;
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0209466);
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #A6A6A6;
}

.form-control::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #A6A6A6;
}

.table td,
.table th {
    border-top: 1px solid #E2E8EA;
}

.table th {
    border-top: none;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1.83333px;
    text-transform: uppercase;
    color: #02CED1;
}

.table tbody {
    background: rgba(254, 254, 254, 0.594882);
}

.table .dropdown-menu {
    background: #EBF4F4;
    box-shadow: 0px 14px 27px rgba(235, 244, 244, 0.636521);
    border-radius: 6px;
}

.table .dropdown-item {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #276566;
    text-transform: capitalize;
}

.show-more a {
    background: #FFFFFF;
    border: 1px solid #D6DFE1;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0469882);
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #5F6466;
    text-transform: capitalize;
    padding: 10px 25px;
}

.table tbody tr:hover {
    background: #FFFFFF;
}

.export-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 14.4px;
    line-height: 20px;
    text-align: center;
    color: #95AAAB;
    background: #DFEEF1;
    border-radius: 2.7px;
    padding: 12px 25px;
}
.table-responsive {
    display: inline-table !important;
    width: 100% !important;
}
.dataTables_wrapper {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
table.dataTable {
    border-collapse: collapse !important;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #00c5cd !important;
    background-color: #00c5cd !important;
}
.dataTables_paginate {
    float: right;
}
.paginate_button .page-link {
    padding: 6px 11px;
    border-radius: 100% !important;
    margin: 0 10px;
    font-size: 12px;
}
.paginate_button.previous .page-link{
    background: url("../images/new-images/long-arrow-left.png");
}
.paginate_button.next .page-link{
    background: url("../images/new-images/long-right-arrow.png");
}
.paginate_button.previous .page-link, .paginate_button.next .page-link {
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    padding: 15px 15px;
    background-size: 12px;
    border-radius: 100% !important;
    margin: 0 10px;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 5px;
    font-size: 12px;
}
.social-img {
    height: 21px;
    width: 21px;
}