@media (max-width: 1440px) {}

@media (max-width: 1280px) {
    .pricing-table .side-arrow {
        display: none;
    }
    .custom-line-height {
        line-height: 1.5;
    }
    .pricing-table .select-pricing a {
        padding:5px;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 992px) {
    .notification-style .box-shadow {
        margin-bottom: 30px !important;
    }
    .tooltip {
        display: none;
    }
    .pixel-code {
        padding-left: 20px;
        padding-right: 20px;
    }
    .pricing-table {
        margin-top: -155px;
    }
    .pricing-banner {
        padding-top: 115px;
    }
    .pricing-table .side-arrow {
        display: none;
    }
    .campaignlist .dropdown .dropdown-menu {
        transform: translateX(-45%);
    }
}

@media (max-width: 576px) {
    .mobile-center {
        text-align: center !important;
    }
    .mobile-left {
        text-align: left !important;
    }
    .mobile-right {
        text-align: right !important;
    }
    .mobile-float-none {
        float: none !important;
    }
    .wd-50 {
        width: 50% !important;
    }
    .wd-30 {
        width: 30% !important;
    }
    .wd-70 {
        width: 70% !important;
    }
    .mobile-none {
        display: none;
    }
    .main-header {
        height: auto;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .dashboard-enterscreen {
        padding: 150px 20px;
        padding-bottom: 20px;
    }
    .dash-quickstart {
        padding: 20px 20px;
        margin-bottom: 35px;
    }
    .mobile-block {
        display: block;
    }
    #clickproof .modified-date {
        padding-left: 0 !important;
    }
    .linear-btn {
        font-size: 12px;
    }
    .footer .col-md-6.text-right.mobile-center {
        margin: 10px 0;
    }
    #createcampaignmodal .form-inline .col-md-3.pl-0 {
        padding-left: 15px !important;
    }
    #createcampaignmodal .linear-btn {
        margin-top: 20px;
    }
    .wizard-border {
        border-left: none;
        border-right: none;
    }
    .popup-modal {
        width: 320px;
    }
    .create-campaign input {
        width: auto !important;
    }
    .create-campaign img {
        height: auto;
        margin-bottom: 20px;
    }
    .create-campaign .linear-btn {
        width: 100%;
    }
    .create-campaign {
        margin-bottom: 30px;
    }
    #clickproofwizard {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .non-funnel,
    .funnel {
        padding: 20px;
    }
    .pixel-code .form-inline {
        padding: 0 20px;
    }
    .modal-right {
        height: auto;
        margin-right: .5rem;
    }
    .refermodal .modal-content {
        background-image: none;
    }
    .pricing-table .side-arrow {
        display: none;
    }
    .showselection {
        margin-bottom: 20px;
        display: block !important;
    }
    .showselection.pl-5 {
        padding-left: 0 !important;
    }
    .manyleads-list .col-md-6 {
        margin-bottom: 10px;
    }
    .manyleads-list .border-top .d-inline.color-grey {
        display: block !important;
    }
}